@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: silver;
}
main{
    background-color: white;
    width: 60%;
    margin: 50px auto;
    border-radius:50px;
    height: 600px;
    display: flex;
}

#area h3{
    font-size: 20pt; /*Tamanho da fonte*/
    font-family: 'Bebas Neue', sans-serif;
    color:rgb(0, 0, 0);
    margin-left:30px;   /*Foi para a direita*/
    padding-top:30px;   /*Foi para baixo*/
}

#area {
    display: flex;
    justify-content: space-between;
}

#area img{
    width: 20px; /*largura*/
    height: 20px; /*altura*/
    margin-top:30px;
    margin-right: 90px;
}

form{
    flex:1;
}
#imagem{
    background-image: url(../img/astronauta.jpg);
    width: 100%;
    height: 600px;
    flex: 1;
    background-position: 0px -160px;
    background-size: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

h1{
    font-size: 60pt;
    font-family: 'Outfit', sans-serif;
    color:rgb(0, 0, 0);
    margin-top:20px;
    margin-left:80px;
}
h2{
    font-size: 10pt;
    font-family: 'Outfit', sans-serif;
    color:rgb(0, 0, 0);
    margin-top:20px;
    margin-left:115px;
    padding-bottom: 5px;
    text-align: left;
}

#gl img{
    width: 280px;
    height: 80px;
    margin-left:80px;
    width: 330px;

}
#or img{
    margin-left:160px;

}
input[type=email]{
    padding: 10px;
    border-radius: 5px;
    margin-left:100px;
    width: 280px;
    
}

input[type=password]{
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left:100px;
    width: 280px;
}
h4, #login span{
    font-size: 10pt;
    margin-left:275px;
    margin-top: 5px;
    color: rgb(14, 74, 206);
}

input[type=submit]{
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    margin-left:100px;
    margin-top: 15px;


}
#login span{
    font-size: 10pt;
    margin-top: 5px;
    color: rgb(14, 74, 206);
    margin-right: auto;
    margin-left: 5px;
}

#login h2 {
    padding-left: 30px;
}



